{% extends 'base.html.twig' %}

{% block title %}Справка{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Сервис</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Анализ кода<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/rules">Справка<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <aside>
        <div id="list-content">
            <div id="list-body">
                    <a id="button-1" class="btn btn-primary btn-lg btn-block button-switch" href="/rules/info?name=XSS">Уязвимость реализации XSS атаки</a>
                    <a id="button-2" class="btn btn-primary btn-lg btn-block button-switch" href="/rules/info?name=HASH"">Уязвимость использования слабых алгоритмов шифрования</a>
                    <a id="button-3" class="btn btn-primary btn-lg btn-block button-switch" href="/rules/info?name=REGEX">Уязвимость использования регулярных выражений в атаке типа «отказ в обслуживании»</a>
                    <a id="button-4" class="btn btn-primary btn-lg btn-block button-switch" href="/rules/info?name=SQL">Уязвимость форматирования SQL-запросов</a>
            </div>
        </div>
    </aside>
    <section>
        <div id="reference-content">
            <div id="reference-body">
                <div id="description-content">
                    {% if rule %}
                        <p>{{ rule.getDescription()|raw }}</p>
                        <img src="{{ rule.getScheme()|raw }}"</img>
                    {% endif %}
                </div>
            </div>
            <div id="reference-scheme">
            </div>
        </div>
    </section>
    <script type="application/javascript" src="/js/app-ref.js"></script>
{% endblock %}
