/* Specification */
html,
body {
    height: 100%;
}

.main-content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

.code-input {
    width: 600px;
}

.list-content {
    background: #D3D3D3;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
}

.reference-content {
    background: #D3D3D3;
    border-radius: 6px;
    color: #fff;
    display: block;
    padding: 24px 15px;
    text-align: center;
}

section,
aside {
    margin: 0 1.5% 24px 1.5%;
}
section {
    float: right;
    width: 63%;
}
aside {
    float: left;
    width: 30%;
}

#reference-bad-code
{
    background: #ff4648;
    border: 10px black;
}

#reference-good-code
{
    background: #8bff6c;
    border: 10px black;
}

#reference-name
{
    font-weight: bold;
}



